.bg-page{
    min-width: 70vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cards-section{
    min-width: 70vw;
    min-height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.chart-section{
    min-width:70vw;
    min-height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bar-chart{
    min-width: 100%;
    min-height: 100%;
}
text > tspan{
    fill:azure;
}
