.bg-page {
  padding: 1rem;
  min-width: 75vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.cards-section {
  min-width: 75vw;
  min-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.chart-section {
  min-width: 75vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.dashboard-title {
  font-size: 3vw;
  color: var(--light);
  text-transform: uppercase;
  -webkit-text-stroke: 1px slategrey;
  letter-spacing: 2px;
}
.dashboard-title:hover {
  color: slategrey;
  -webkit-text-stroke: 1px var(--dark);
}

hr {
  width: 100%;
  border: 1px solid slategrey;
}

/* bar chart labels color */
text > tspan {
  fill: slategrey;
}
