.profile-top-div {
  min-width: 75vw;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.img-div {
  min-width: 180px;
  min-height: 200px;
  background-image: url("/src/profile_img.png");
  background-color: transparent;
  background-size: cover;
  border: 2px solid slategrey;
}

.details-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.details-div > h2 {
  color: slategray;
}

.details-div > a {
  color: white;
  text-decoration: none;
}

.social-media {
  display: flex;
  flex-direction: row;
  color: var(--dark);
  gap: 1rem;
}

.sm-icons {
  color: slategrey;
  cursor: pointer;
}

.sm-icons:hover {
  color: white;
}

.profile-down-div {
  min-width: 75vw;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.upcoming-projects {
  min-width: 40vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
