.sidebar{
    padding: 1rem;
    min-width: 20vw;
    min-height: 95vh;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(24, 24, 44);
    color: slategrey;
}

.sidebar > div{
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap:0.5rem;
}

.circle-div{
    margin: 0.5rem 0;
    min-width:60%;
    min-height:10vw;
    border-radius: 50%;
    background-color: slategray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.circle-div img{
    width:150px;
    height:150px;
    border-radius: 50%;
    position: absolute;
}

.profile-div{
    min-width: 100%;
    min-height: 10vh;
    border-top: 2px solid slategray;
    border-bottom: 2px solid slategray;
}

.username{
    font-size: clamp(16px, 20px, 20px);
    font-weight: 500;
    color: azure;
}

.job{
    font-size: clamp(12px, 16px, 16px);
    font-weight: 400;
}

.list-div{
    margin: 0.5rem 0;
    min-width:100%;
    min-height: 40vh;
}

.list-item{
    cursor: pointer;
    text-decoration: none;
    color: slategrey;
    font-size: clamp(12px, 16px, 16px);
}

.active, .list-item:hover{
    color:azure;
}

.footer-div{
    min-width:100%;
    min-height: 10vh;
    color: azure;
}

.footer-div > p{
    font-size: clamp(8px,12px,12px);
}

.footer-div > p > span{
    font-size: 1rem;
}