table{
    min-width: 100%;
    min-height: 100%;
    color: azure;
    background-color: slategrey;
    border-collapse: collapse;
}

thead > tr{
    padding: 5px;
    background-color: rgb(24, 24, 44);
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(24, 24, 44);
    color: white;
}

td{
    text-align: center;
}

th{
    padding:1rem;
}