*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: slategray;
    box-sizing: border-box;
}
.body-container{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color:azure;
}

.main-container{
    padding: 1rem;
    margin: 1rem 0;
    min-width: 72vw;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(24, 24, 44);
    border-radius: 10px;
}

.bg-page{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}