* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  box-sizing: border-box;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: var(--dark);
  color: white;
  align-items: center;
  justify-content: space-evenly;
}

.body-container {
  min-width: 75vw;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--light);
  border-radius: 15px;
}

table {
  min-width: 75vw;
  min-height: 90vh;
  color: azure;
  background-color: slategrey;
  border-collapse: collapse;
}

td {
  text-align: center;
}

th {
  padding: 1rem;
}

thead > tr {
  padding: 5px;
  background-color: var(--light);
}

tr:nth-child(even) {
  background-color: var(--light);
}
