*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: slategray;
    box-sizing: border-box;
}
.body-container{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color:azure;
}